
############################################
# REDIRECT HTTP TO HTTPS
############################################
server {
        listen 80;
        server_name www.schwarzdavid.rocks schwarzdavid.rocks;
        return 301 https://schwarzdavid.rocks$request_uri;
}

############################################
# REDIRECT WWW TO NON-WWW
############################################
server {
        listen 443 ssl;
        server_name www.schwarzdavid.rocks

        ssl on;
        ssl_certificate /etc/letsencrypt/live/www.schwarzdavid.rocks/fullchain.pem;
        ssl_certificate_key /etc/letsencrypt/live/www.schwarzdavid.rocks/privkey.pem;

        return 301 https://schwarzdavid.rocks$request_uri;
}

############################################
# ACTUAL WEBSITE
############################################
server {
        listen 443 ssl http2;
        server_name schwarzdavid.rocks

        ssl_on;
        ssl_certificate /etc/letsencrypt/live/www.schwarzdavid.rocks/fullchain.pem;
        ssl_certificate_key /etc/letsencrypt/live/www.schwarzdavid.rocks/privkey.pem;

        index index.html;
        root /var/www/schwarzdavid.rocks/dist;

        location / {
                try_files $uri $uri/ =404;
        }
}
