#about {
	.content-wrapper;

	.title {
		line-height: 150%;
		margin-bottom: @side-spacing;
		margin-top: 0;
		font-size: 1.7rem;
		font-weight: 300;

		@media @_screen_sm {
			margin-bottom: @side-spacing-sm;
		}

		@media @_screen_md {
			max-width: 80%;
		}
	}

	.picture {
		display: flex;
		flex-direction: row-reverse;
		align-items: flex-end;
		margin-bottom: @side-spacing;

		@media @_screen_sm {
			margin-bottom: @side-spacing-sm;
		}

		svg {
			display: block;
			max-width: 500px;
			width: 100%;

			img {
				width: 100%;
			}

			a {
				font-size: 1.8rem;

				@media @_screen_sm {
					font-size: 1.2rem;
				}
			}
		}
	}

	.description {
		line-height: 170%;
		font-size: 1rem;

		a {
			color: currentcolor;
			text-decoration: none;
			position: relative;
			z-index: 10;
			font-weight: 500;
			padding: 0 3px;
			white-space: nowrap;

			&:after {
				display: block;
				position: absolute;
				content: '';
				width: 100%;
				height: 60%;
				background: darken(@color-light, 15%);
				opacity: .8;
				bottom: -3px;
				left: 0;
				z-index: -1;
			}
		}
	}

	.socials {
		margin-top: @side-spacing / 1.3;

		.intro {
			display: block;
			font-size: .8rem;
			font-style: italic;
			color: lighten(@color-dark, 30%);
		}

		ul {
			display: flex;
			flex-direction: row;
			margin: 10px 0 0;
			padding: 0;
			list-style: none;

			li {
				margin: 0 7px;

				@media @_screen_md {
					margin-left: 12px;
					margin-right: 12px;
				}

				&:first-child {
					margin-left: 0;
				}

				a {
					color: @color-highlight;
					text-decoration: none;
					font-size: 1.2rem;
				}
			}
		}
	}
}