#contact {
	margin-top: @side-spacing-sm;

	#map {
		height: 350px;
	}

	.wrapper {
		.content-wrapper;

		max-width: ~"calc(@{section-max-size} + @{side-spacing-sm} * 2)";
		background: @color-light;
		box-shadow: 0 0 100px fade(@color-dark, 15%);
		margin-top: -100px;
		position: relative;
		z-index: 100;
		padding: 60px @side-spacing / 2 @side-spacing;

		@media @_screen_sm {
			padding: 60px @side-spacing-sm / 2 @side-spacing-sm;
		}

		.title {
			text-align: center;
			font-weight: 600;
			font-size: 3rem;
			margin-top: 0;
			margin-bottom: 20px;
		}

		.row {
			display: flex;
			flex-direction: column-reverse;

			@media @_screen_md {
				flex-direction: row;
			}

			& > * {
				padding: @side-spacing / 2;
				flex-basis: 50%;
				flex-shrink: 1;

				@media @_screen_sm {
					padding: 0 @side-spacing-sm / 2;
				}
			}

			.form {
				padding-right: @side-spacing / 2;

				@media @_screen_sm {
					padding-right: @side-spacing-sm / 2;
				}

				.input {
					position: relative;
					overflow-x: hidden;
					overflow-y: visible;
					padding-top: 20px;
					margin-bottom: 30px;

					.field {
						position: relative;
						display: block;
						border: none;
						height: 50px;
						min-height: 50px;
						border-radius: 0;
						width: 100%;
						font-family: inherit;
						font-weight: 300;
						font-size: 1.1rem;
						color: inherit;
						-webkit-appearance: none;
						padding: 0;

						&:focus,
						&.filled {
							outline: none;

							& ~ .label {
								color: #333;
								transform: translate3d(0, -30px, 0) scale3d(0.75, 0.75, 1);
							}

							& ~ .graphic {
								stroke: #333;
								transform: translate3d(-66.6%, 0, 0);
							}
						}
					}

					textarea.field {
						resize: none;
						max-height: 200px;
						margin: 10px 0;
						min-height: 30px;
						height: 30px;
					}

					.label {
						pointer-events: none;
						position: absolute;
						display: block;
						top: 20px;
						left: 0;
						height: 50px;
						line-height: 50px;
						font-size: .9rem;
						transform-origin: left center;
						transition: transform 0.3s 0.1s, color 1s;
						transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
					}

					.graphic {
						position: absolute;
						display: block;
						bottom: 0;
						left: 0;
						width: 300%;
						stroke: #92989e;
						fill: transparent;
						pointer-events: none;
						transition: transform 0.7s, stroke 0.7s;
						transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
					}
				}

				.hint {
					font-size: .7rem;
				}

				.g-recaptcha {
					margin-top: @side-spacing;

					& > div {
						margin: 0 auto;
					}
				}

				.button {
					display: block;
					border: none;
					background: @color-dark;
					border-radius: 30px;
					height: 60px;
					color: @color-light;
					padding: 0;
					margin: 50px auto 0;
					font-family: inherit;
					font-size: .7rem;
					width: 240px;
					transition: background @transition-duration ease;
					outline: none;
					cursor: pointer;

					&.finished {
						background: #49940d;
					}
				}
			}

			.infos {
				p {
					line-height: 150%;
				}

				.contact {
					display: block;
					margin-top: @side-spacing;

					strong {
						display: block;
						margin-bottom: 10px;

						span.fa {
							padding-left: 5px;
							padding-right: 10px;
						}
					}

					a {
						color: inherit;
						text-decoration: none;
						position: relative;
						padding: 5px;
						transition: color @transition-duration ease;

						&:before,
						&:after {
							display: block;
							content: "";
							position: absolute;
							bottom: 0;
							left: 0;
							width: 100%;
							background: @color-gradient;
						}

						&:before {
							height: 2px;
						}

						&:after {
							height: 100%;
							z-index: -1;
							transition: transform @transition-duration ease;
							transform: perspective(800px) rotateX(90deg);
							transform-origin: center bottom;
							transform-style: preserve-3d;
						}

						&:hover {
							color: @color-light;
							transition-duration: @transition-duration / 2;

							&:after {
								transform: rotateX(0);
							}
						}
					}
				}
			}
		}
	}
}