@import "../mixins";

#main #projects {
	padding: @side-spacing;
	max-width: @section-max-size;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	margin-top: 100px;

	@media @_screen_sm {
		padding: @side-spacing-sm;
	}

	.title {
		h1 {
			font-weight: 300;
			font-size: 2.5rem;
		}

		h4 {
			pointer-events: none;
			top: 22px;
			left: 50%;
			transform: translateX(-50%);
			margin: 0;
			font-size: 7rem;
			position: absolute;
			white-space: nowrap;
			color: @color-light;
			text-shadow: 0 0 100px fade(@color-dark, 15%);
			z-index: -1;
		}
	}
	.project-slider {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		width: ~"calc(100% + @{side-spacing})";
		margin-left: -@side-spacing / 2;
		transition: transform @transition-duration ease;
		transform-style: preserve-3d;
		will-change: transform;

		@media @_screen_sm {
			width: ~"calc(100% + @{side-spacing-sm})";
			margin-left: -@side-spacing-sm / 2;
		}

		.project {
			.noselect;

			position: relative;
			display: block;
			width: 100%;
			flex-shrink: 0;
			margin: 0;
			cursor: move;
			padding: 0 @side-spacing/2;

			@media @_screen_sm {
				padding-left: @side-spacing-sm/2;
				padding-right: @side-spacing-sm/2;
			}

			&.active {
				cursor: pointer;

				.project-wrapper {
					transform: none;
				}
			}

			.project-wrapper {
				transition: transform @transition-duration ease;
				transform-style: preserve-3d;
				transform: scale(.8);

				.project-content {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					text-align: center;

					.title {
						color: @color-light;
						font-size: 1.4rem;
						font-weight: 400;
						margin-top: 0;
						margin-bottom: 15px;
						text-shadow: 3px 3px @color-dark;

						@media @_screen_xs {
							font-size: 2rem;
							margin-bottom: 30px;
						}

						@media @_screen_md {
							font-size: 2.4rem;
						}
					}

					.services {
						background: @color-gradient;
						font-size: .8rem;
						color: @color-light;
						padding: 3px 6px;
						font-weight: 400;
						text-shadow: 1px 1px fade(@color-dark, 50%);
						white-space: nowrap;

						@media @_screen_xs {
							font-size: .9rem;
							padding: 5px 10px;
						}
					}
				}
			}
		}
	}
}