@import "variables";
@import "sections/teaser";

html {
	font-size: 16px;

	@media @_screen_sm {
		font-size: 20px;
	}

	@media @_screen_md {
		font-size: 22px;
	}
}

body {
	margin: 0;
	width: 100%;
	overflow-x: hidden;
	font-family: 'Raleway', 'Segoe UI', 'Open Sans', Helvetica, Arial, sans-serif;
	color: @color-dark;
}

*, :after, :before {
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

p {
	a {
		color: currentcolor;
		text-decoration: none;
		position: relative;
		z-index: 10;
		font-weight: 500;
		padding: 0 3px;
		white-space: nowrap;

		&:after {
			display: block;
			position: absolute;
			content: '';
			width: 100%;
			height: 60%;
			background: darken(@color-light, 15%);
			opacity: .8;
			bottom: -3px;
			left: 0;
			z-index: -1;
		}
	}
}

.notransition {
	transition: none !important;
}