@import "variables";

@import "sections/about";
@import "sections/projects";
@import "sections/contact";

@import "sections/resume";

#teaser {
	.content .content-wrapper .socials,
	.nav,
	#trigger {
		opacity: 1;
		transition-delay: .1s;
	}
}

#main {
	background: @color-light;
	padding-left: @side-spacing;
	transition: transform @transition-duration ease;
	transform-style: preserve-3d;
	max-width: 100%;
	position: relative;
	z-index: @z-index-main;
	box-shadow: 0 0 7px -1px fade(@color-dark, 50%);
	will-change: transform;

	@media @_screen_sm {
		padding-left: @side-spacing-sm;
	}
}

&[data-active="resume"]{
	#main {
		transform: translateX(-100%);
	}
}