//*****************************************
// IMPORTS
//*****************************************
@import "variables";

@import "sections/about";
@import "sections/projects";
@import "sections/contact";
@import "sections/footer";

@import "sections/resume";

//*****************************************
// GLOBAL TAG SETTINGS
//*****************************************
*::selection {
	background: fade(@color-highlight, 90%);
	color: #fff;
}

//*****************************************
// GLOBAL CLASSES
//*****************************************
.invertMe {
	direction: rtl;
	unicode-bidi: bidi-override;
}
.page-wrapper {
	max-width: ~"calc(100% - @{side-spacing})";
	margin-left: @side-spacing;
	position: relative;
	height: 100vh;
	overflow-y: scroll;
	overflow-x: hidden;

	@media @_screen_sm {
		max-width: ~"calc(100% - @{side-spacing-sm})";
		margin-left: @side-spacing-sm;
	}
}
.content-wrapper {
	max-width: @section-max-size;
	width: ~"calc(100% - @{side-spacing} * 2)";
	margin-left: auto;
	margin-right: auto;
	padding-top: @side-spacing;
	padding-bottom: @side-spacing;

	@media @_screen_sm {
		width: ~"calc(100% - @{side-spacing-sm} * 2)";
		padding-top: @side-spacing-sm;
		padding-bottom: @side-spacing-sm;
	}
}
.noselect {
	user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

//*****************************************
// MAIN CONTENT WRAPPER
//*****************************************
#main {
	.page-wrapper;

	background: @color-light;
	transition: transform @transition-duration ease;
	transform-style: preserve-3d;
	max-width: 100%;
	position: relative;
	will-change: transform;
}

&[data-active="resume"]{
	#main {
		transform: translateX(-100%);
	}
}
