@import "variables";

@import "sections/about";
@import "sections/projects";
@import "sections/contact";

@import "sections/resume";

#teaser {
	.content .content-wrapper .socials,
	.nav,
	#trigger {
		opacity: 1;
		transition-delay: .1s;
		will-change: opacity;
	}
}

#main {
	background: @color-light;
	padding-left: @side-spacing;

	@media @_screen_sm {
		padding-left: @side-spacing-sm;
	}
}